# Pandas basics concepts

In [1]:
# Pandas import
import pandas as pd

## Initialize a custom Dataframe

In [2]:
# Data Frame Initialization Example
df = pd.DataFrame(
    {
        "Name": ["John", "Jane", "Bob", "Alice"],
        "Age": [25, 30, 35, 40],
        "Sex": ["Male", "Female", "Male", "Female"],
    }
)
df

    Name  Age     Sex
0   John   25    Male
1   Jane   30  Female
2    Bob   35    Male
3  Alice   40  Female

## Select a specific column (Serie)

In [3]:

# Select the columns of the dataframe
# or
# Select a Series from a DataFrame
df["Age"]

0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [4]:
# You can also create a Series from Scratch
ages = pd.Series([25, 30, 35, 40, 45, 50], name='Age')
ages

0    25
1    30
2    35
3    40
4    45
5    50
Name: Age, dtype: int64

In [5]:
# Get the max age from the dataframe
df["Age"].max()

40

In [6]:
# If you are interested in some basic statics of the numerical data of my data table
df.describe()

             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000